@model  ASP_spr321.Models.Admin.AdminIndexViewModel

<div class="text-center">
    <h1 class="display-4">Сторінка адміністратора</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Категорії</h2>
        <form  id="admin-category-form" enctype="multipart/form-data"> 
            Назва:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input id="name" name="category-name" style="width:400px;border:1px solid green;border-radius:3px;"><br /><br />
            
            Опис: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <textarea name="category-description" style="height:250px;width:400px;border:1px solid green;border-radius:3px;;"></textarea><br /><br />
            
            Адреса:&nbsp&nbsp&nbsp&nbsp&nbsp <input name="category-slug" style="width:400px;border:1px solid green;border-radius:3px;" /><br /><br />
            
            Картинка:&nbsp&nbsp <input name="category-image" type="file" /><br /><br />
           
            <button type="submit">Додати</button>
        </form>
    </div>
    <div class="col">
        <h2>Товари</h2>
        <form id="admin-product-form" enctype="multipart/form-data">
            Назва:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input id="name" name="product-name" style="width:400px;border:1px solid green;border-radius:3px;"><br /><br />
            Опис: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <textarea name="product-description" style="height:250px;width:400px;border:1px solid green;border-radius:3px;;"></textarea><br /><br />
            Артикул/штрихкод:&nbsp&nbsp&nbsp&nbsp&nbsp <input name="product-slug" style="width:400px;border:1px solid green;border-radius:3px;" /><br /><br />
            Картинка:&nbsp&nbsp <input name="product-image" type="file" /><br /><br />
            Ціна:&nbsp&nbsp <input name="product-price" type="number" /><br /><br />
            Кількість:&nbsp&nbsp <input name="product-stock" type="number" /><br /><br />
            Категория:&nbsp&nbsp <select name="category-id" > 
                @foreach (var c in Model.Categories)
                {
                    <option value="@c.Id">@c.Name</option>
                }

            <</select>
            
            <button type="submit">Додати</button>
        </form>
    </div>
</div>