
<div class="text-center">
    <h1 class="display-4">Сторінка адміністратора</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Категорії</h2>
        <form  id="admin-category-form" enctype="multipart/form-data"> 
            Назва:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input id="name" name="category-name" style="width:400px;border:1px solid green;border-radius:3px;"><br /><br />
            
            Опис: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <textarea name="category-description" style="height:250px;width:400px;border:1px solid green;border-radius:3px;;"></textarea><br /><br />
            
            Адреса:&nbsp&nbsp&nbsp&nbsp&nbsp <input name="category-slug" style="width:400px;border:1px solid green;border-radius:3px;" /><br /><br />
            
            Картинка:&nbsp&nbsp <input name="category-image" type="file" /><br /><br />
           
            <button type="submit">Додати</button>
        </form>
    </div>
    <div class="col">
        <h2>Товари</h2>
    </div>
</div>