 @model ASP_spr321.Data.Entities.Category


<div class="col">
	<a class=" nav-link text-dark h-100" style="height:70%;width:60%;border:0,5ex solid green;" asp-controller="Shop" asp-action="Category" asp-route-id="@Model.Slug">
		<div class="card h-100">
			<img src="@(Model.ImageUrl)" alt="Image" class="card-img-top" />
			<div class="card-body"> 
				<p class="card-title" style="font-size:1.5ex" >@Model.Name</p>
			</div>
		</div>
	</a>
</div>
