 @model ASP_spr321.Data.Entities.Product


<div class="col">
    <a class="nav-link text-dark h-100" asp-controller="Shop" asp-action="Product" asp-route-id="@(Model.Slug ?? Model.Id.ToString())">
        <div class="img-mini">
            <img src="/Shop/Image/@(Model.ImagesCsv.Split(',').First())" alt="Image" class="card-img-top" />
       </div>
    </a>
</div>
