@{
    ViewData["Title"] = "Home Page";
}
<div class="Ind"" >
    <div class="text-center">
        <h1 class="display-4">ASP</h1>
    </div>

    <h2>Зміст</h2>

    <h3><a href="/Home/Intro">1.Вступ</a></h3>

    <h3><a asp-controller="Home" asp-action="Razor">2.Синтаксис Razor </a></h3>

    <h3><a asp-controller="Home" asp-action="IoC">3.Інверсия управления </a></h3>

    <h3><a asp-controller="Home" asp-action="OTP">4.OTP </a></h3>
</div>
