@{
    ViewData["Title"] = "Home Page";
    String? canCreate = Context.User.Claims
                .FirstOrDefault(c => c.Type == "CanCreate")?.Value;

}
<div class="Ind"" >
    <div class="text-center">
        <h1 class="display-4">ASP</h1>
    </div>

    <h2>Зміст</h2>

    <h3><a href="/Home/Intro">1.Вступ</a></h3>

    <h3><a asp-controller="Home" asp-action="Razor">2.Синтаксис Razor </a></h3>

    <h3><a asp-controller="Home" asp-action="IoC">3.Інверсия управления </a></h3>

    

    <h3><a asp-controller="Home" asp-action="Models">4.Обіг данних.Моделі </a></h3>
    <h3>5. Домашні завдання.</h3>
    <h5>
        <ol style="color:darkgreen;font-size:35 px">
            <li><a asp-controller="Home" asp-action="OTP">ОТР </a></li>
            <li><a asp-controller="Home" asp-action="ProductReviewForm">Форма відгуку щодо товару </a></li>
        </ol>
    </h5>
    @if (canCreate == "1")
    {
        <h3><a asp-controller="Admin">6.Панель адміністратора </a></h3>
    }
    
</div>
