@{
    ViewData["Title"] = "Intro Page";
}

<div class="text-center">
    <h1 class="display-4">Вступ ASP</h1>
  
</div>
<p>
    <b>ASP</b> - Activ Server Pages - фреймворк .NET для створення веб-застосунків - технологія, запропонована компанією Microsoft у 1997 році для створення Web-додатків. Ця технологія заснована на впровадженні у прості веб-сторінки спеціальних елементів управління, що допускають програмне управління.
    Програмна модель ASP.NET ґрунтується на протоколі HTTP та використовує його правила взаємодії між сервером та браузером. При формуванні сторінки закладено абстрактну програмну модель Web Forms і на ній засновано основну частину реалізації програмного коду[1]. Загалом, ASP.NET пропонує безліч переваг
    для розробки веб-додатків, включаючи потужні інструменти, високу продуктивність та багатий набір бібліотек.
</p>
<p>
    Відмінністю є формування коду у залежності від параметрів запиту,
    наприклад на запит <code>/Home/Intro</code> здійснюється пошук класу
    <code>HomeController</code> (де Home - це перша частина запиту)
    а в цьому класі шукається метод (де Intro - це друга частина запиту)
</p>