@{
    ViewData["Title"] = "OTP";
}

<div class="text-center">
    <h1 class="display-4">One Time Password </h1>

</div>

<h4>Довжина пароля складає<b style="color:chartreuse">@ViewData["OTPLen"]</b>  символів </h4>
<h4>Згенерований випадковий пароль -><b style="color:chartreuse">@ViewData["OTP"]</b> </h4>
