@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <h1 class="display-4">Синтаксис RAZOR </h1>

</div>

<p>
    <b>Razor</b> - технологія розширення HTML - розмітки до інструментарію мови программуванняю Доповнення засобів HTML змінними виразами (у т.ч. що містить змінні), умовами та циклами.
    Razon-вставки - це <code>"commat;"</code>,відповідно сам символ слід замінити на HTML-символи
    <code>"&amp;commat;"</code>. Виняток становлять правільно сформовані E-mail на кшталт <code>user@i.ua</code>
</p>

<h2>Вирази</h2>
<p>Вирази - це інструкції (instructions), що мають результат. Razor - вирази передбачають 
    включення результату у склад розмітки у тому числі, де вони зазначені.
    Вираз оформлюється як <code>&commat</code>
    <code>&commat;(2+3)=@(2+3)</code>
</p>
<h2>Інструкції</h2>
<p>
    Інструкції( stataments) зазвичай відокремлюють від виразів саме відсутністю 
    результатів.Їх оформлюють у блоки <code>&commat;{ statements} </code>ю
    У такий спосіб також оголошуються змінні
</p>
<pre>
    &commat;{
    String[] strings = { "String1", "String2", "String3", "String4", "String5" };
    }
</pre>
@{
    String[] strings = { "String1", "String2", "String3", "String4", "String5" };
}
<p>
    Виведення змінних можна здійснювати у скороченій формі виразів
    <code>&commat;string[0]+"!"=@strings[0]+"!"</code><br/>
    <code>&commat;(string[0]+"!")==@(strings[0]+"!")</code>
</p>

<h2>Інструкції управління</h2>
<p>
    До інструкції управління (control instructions) належать інструкції
    (if/if-else/switch) та інструкції повторювання (for/foreach).

</p>
@if(strings.Length>3)
{
    int lim = 3;
    <b>Розмір масиву strings більший за @lim</b>
}
else
{
    <b>Розмір масиву strings НЕ більший за 3</b>

}
<ul>
    @foreach (String str in strings)
    { 
        if(str.EndsWith('3'))
        {
            <li>@(str+"!!")</li>
        }
        else
        {
            <li>@str</li>

        }
        
    }
</ul>
<h2>Загальні рекомендації</h2>

<p>
    Засоби Razor слід лише забеспечувати відображення данних з моделі 
    , що приходить до представлення звернення до файлів , БД, змінних 
    чи інших программних змінних , сервісів тощо.

</p>
    
