@model ASP_spr321.Models.Shop.ShopCategoryViewModel


@if(Model.Category==null){
	<div class="text-center">
		<h1 class="display-4">Запитана категорія не знайдена</h1>
	</div>

}
else
{
	<div class="text-center">
		<h1 class="display-4"> @Model.Category.Name</h1>
	</div>
	<div style="display:flex;align-content:flex-start;">
		<div class="cat2" style="width:25%;height:20%; ">
			<div class="col" >
				<a class=" nav-link text-dark h-100" style="height:70%;width:60%;border:0,5ex solid green;" asp-controller="Shop" asp-action="Index" >
					<div class="card h-100" style=" background-color:cadetblue">
						<div class="card-body">
							<p   class="card-title" style="font-size:1.8ex;color:azure ">Категорії</p>
						</div>
					</div>
				</a>
			</div>
			@foreach (var category in Model.Categories)
			{

				@Html.DisplayFor(m => category, "CategoryCardMenu")
			}
		</div>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" style="width:95%;height:70%;">
			@foreach (var product in Model.Category.Products)
			{
				@Html.DisplayFor(m => product, "ProductCard")
			}
		</div>
	</div>
	
		
		

	
		
	
	

}
