@model ASP_spr321.Models.Shop.ShopIndexViewModel
@{
    ViewData["Title"] = "Shop";
}
<div class="text-center">
    <h1 class="display-4">Крамниця</h1>
</div>

@foreach(var category in Model.Categories)
{
    <img src="/Shop/Image/@(category.ImageUrl)" alt="Image" style="border:2px solid hotpink; border-radius:6px; height:15%; width:15%" />
    <p style="color: hotpink">@category.Name</p>
}