html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-top: 10px;
    background-color:azure;
    color:blueviolet;
}

body.header {
   font-size: 20px;
   position: absolute;
   background-color: aliceblue;
 }

.auth-letter{
    background-color:purple;
    border-radius:50%;
    color:snow;
    display:inline-block;
    padding: 0.1em 0.7em;
}

.card-body {
    position: relative;
}

.card-fab {
    align-items: center;
    background-color: mediumaquamarine;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1em;
    top: -1em;
    height: 2.5em;
    width: 2.5em;
}





.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

    .rating-area:not(:checked) > input {
        display: none;
    }

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
}

    .rating-result span {
        padding: 0;
        font-size: 32px;
        margin: 0 3px;
        line-height: 1;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

    .rating-result > span:before {
        content: '★';
    }

    .rating-result > span.active {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    

